<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303215</real>
		<key>longitude</key>
		<real>-157.830882</real>
		<key>subtitle</key>
		<string>Ewa</string>
		<key>title</key>
		<string>Beverages</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.302579</real>
		<key>longitude</key>
		<real>-157.830105</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Chicken Plate Lunch</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.302649</real>
		<key>longitude</key>
		<real>-157.830201</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Corn</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.302519</real>
		<key>longitude</key>
		<real>-157.830014</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Gyros</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303148</real>
		<key>longitude</key>
		<real>-157.831545</real>
		<key>subtitle</key>
		<string>Ewa</string>
		<key>title</key>
		<string>Hamburgers</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.302364</real>
		<key>longitude</key>
		<real>-157.829869</real>
		<key>subtitle</key>
		<string>Waikiki</string>
		<key>title</key>
		<string>Hamburgers</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.30362</real>
		<key>longitude</key>
		<real>-157.82859</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Hawaiian Plate</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303104</real>
		<key>longitude</key>
		<real>-157.831146</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Ice Cream</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303504</real>
		<key>longitude</key>
		<real>-157.831237</real>
		<key>subtitle</key>
		<string>Ewa</string>
		<key>title</key>
		<string>Malasadas</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.30185</real>
		<key>longitude</key>
		<real>-157.830094</real>
		<key>subtitle</key>
		<string>Waikiki</string>
		<key>title</key>
		<string>Malasadas</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303098</real>
		<key>longitude</key>
		<real>-157.831637</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Noodles</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303099</real>
		<key>longitude</key>
		<real>-157.831247</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Portugese Bean Soup</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303178</real>
		<key>longitude</key>
		<real>-157.831456</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Saimin</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303064</real>
		<key>longitude</key>
		<real>-157.830947</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Smoothie</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>0</integer>
		<key>latitude</key>
		<real>21.303079</real>
		<key>longitude</key>
		<real>-157.831028</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Taco Salad &amp; Nachos</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.303044</real>
		<key>longitude</key>
		<real>-157.831229</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Century Wheel</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.303009</real>
		<key>longitude</key>
		<real>-157.831111</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Crazy Plane</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.303324</real>
		<key>longitude</key>
		<real>-157.831816</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Dizzy Dragons</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302627</real>
		<key>longitude</key>
		<real>-157.831231</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Fire Ball</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.30223</real>
		<key>longitude</key>
		<real>-157.83081</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Giant Slide</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.303004</real>
		<key>longitude</key>
		<real>-157.832122</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Helicopter</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.303199</real>
		<key>longitude</key>
		<real>-157.831929</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Jungle Twist</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302718</real>
		<key>longitude</key>
		<real>-157.831561</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Magic Maze</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.303094</real>
		<key>longitude</key>
		<real>-157.831779</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Merry-Go-Round</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302818</real>
		<key>longitude</key>
		<real>-157.830857</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Mini Coaster</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302567</real>
		<key>longitude</key>
		<real>-157.831143</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Music Express</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302706</real>
		<key>longitude</key>
		<real>-157.830675</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scooter</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.303239</real>
		<key>longitude</key>
		<real>-157.831698</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Speedway</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302943</real>
		<key>longitude</key>
		<real>-157.831456</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Spring Ride</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302598</real>
		<key>longitude</key>
		<real>-157.830519</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Super Sizzler</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302492</real>
		<key>longitude</key>
		<real>-157.83103</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Wave Swinger</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>1</integer>
		<key>latitude</key>
		<real>21.302352</real>
		<key>longitude</key>
		<real>-157.830509</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Zipper</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>21.302724</real>
		<key>longitude</key>
		<real>-157.830411</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Basketball</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>21.303059</real>
		<key>longitude</key>
		<real>-157.830877</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Bowling</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>21.302834</real>
		<key>longitude</key>
		<real>-157.830561</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Frogs in the Lily Pond</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>21.30294</real>
		<key>longitude</key>
		<real>-157.83068</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Puka Horseshoes</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>21.303001</real>
		<key>longitude</key>
		<real>-157.830761</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Ring Toss</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>21.302779</real>
		<key>longitude</key>
		<real>-157.830486</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Strong Man</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>2</integer>
		<key>latitude</key>
		<real>21.302889</real>
		<key>longitude</key>
		<real>-157.830636</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Whirlpool</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302237</real>
		<key>longitude</key>
		<real>-157.829142</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Airball</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302118</real>
		<key>longitude</key>
		<real>-157.829326</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Bean Bag</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302319</real>
		<key>longitude</key>
		<real>-157.829146</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Ducks</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302276</real>
		<key>longitude</key>
		<real>-157.829206</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Fish Swish</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302168</real>
		<key>longitude</key>
		<real>-157.829391</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Grab Bag</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302201</real>
		<key>longitude</key>
		<real>-157.829205</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Kiddie Basketball</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302272</real>
		<key>longitude</key>
		<real>-157.829072</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Menehune Strong Man</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302336</real>
		<key>longitude</key>
		<real>-157.829065</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Miniature Golf</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.30198</real>
		<key>longitude</key>
		<real>-157.829391</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Prize Exchange</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302203</real>
		<key>longitude</key>
		<real>-157.829326</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Sand Pile</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302162</real>
		<key>longitude</key>
		<real>-157.829271</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Tic-Tac-Toe</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>3</integer>
		<key>latitude</key>
		<real>21.302235</real>
		<key>longitude</key>
		<real>-157.829265</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Wheel of Fortune</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.302201</real>
		<key>longitude</key>
		<real>-157.830035</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Alumni Shop</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.303374</real>
		<key>longitude</key>
		<real>-157.831526</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Body Painting</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.303403</real>
		<key>longitude</key>
		<real>-157.831127</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Haku Lei</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.3021</real>
		<key>longitude</key>
		<real>-157.829909</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Jams and Jellies</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.302217</real>
		<key>longitude</key>
		<real>-157.830132</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>O-Men</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.302132</real>
		<key>longitude</key>
		<real>-157.830078</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Pa&apos;ani Flower Booth</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.301892</real>
		<key>longitude</key>
		<real>-157.829896</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Plants</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.303267</real>
		<key>longitude</key>
		<real>-157.83095</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Sound Booth</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.30212</real>
		<key>longitude</key>
		<real>-157.82951</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Splat Trap</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.303134</real>
		<key>longitude</key>
		<real>-157.830802</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>T-Shirt Sales</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.302056</real>
		<key>longitude</key>
		<real>-157.830199</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Treasures</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.301948</real>
		<key>longitude</key>
		<real>-157.830289</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>White Elephant</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>4</integer>
		<key>latitude</key>
		<real>21.301965</real>
		<key>longitude</key>
		<real>-157.829861</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Will Call</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302764</real>
		<key>longitude</key>
		<real>-157.831703</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302924</real>
		<key>longitude</key>
		<real>-157.831623</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302637</real>
		<key>longitude</key>
		<real>-157.831365</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302364</real>
		<key>longitude</key>
		<real>-157.830926</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302759</real>
		<key>longitude</key>
		<real>-157.831392</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302659</real>
		<key>longitude</key>
		<real>-157.83095</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302295</real>
		<key>longitude</key>
		<real>-157.830019</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>5</integer>
		<key>latitude</key>
		<real>21.302787</real>
		<key>longitude</key>
		<real>-157.830322</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Scrip</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>6</integer>
		<key>latitude</key>
		<real>21.30303</real>
		<key>longitude</key>
		<real>-157.831773</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Ride Coupons</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>6</integer>
		<key>latitude</key>
		<real>21.302912</real>
		<key>longitude</key>
		<real>-157.831228</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Ride Coupons</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>6</integer>
		<key>latitude</key>
		<real>21.302538</real>
		<key>longitude</key>
		<real>-157.830702</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Ride Coupons</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>7</integer>
		<key>latitude</key>
		<real>21.303</real>
		<key>longitude</key>
		<real>-157.83055</real>
		<key>subtitle</key>
		<string>Mamiya Science Center</string>
		<key>title</key>
		<string>Bathroom</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>7</integer>
		<key>latitude</key>
		<real>21.303432</real>
		<key>longitude</key>
		<real>-157.828528</real>
		<key>subtitle</key>
		<string>Dole Hall</string>
		<key>title</key>
		<string>Bathroom</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>7</integer>
		<key>latitude</key>
		<real>21.302333</real>
		<key>longitude</key>
		<real>-157.829538</real>
		<key>subtitle</key>
		<string>Kiddie Area</string>
		<key>title</key>
		<string>Toilets</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>7</integer>
		<key>latitude</key>
		<real>21.302912</real>
		<key>longitude</key>
		<real>-157.830017</real>
		<key>subtitle</key>
		<string>Dillingham Hall</string>
		<key>title</key>
		<string>Toilets</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>7</integer>
		<key>latitude</key>
		<real>21.30354</real>
		<key>longitude</key>
		<real>-157.831063</real>
		<key>subtitle</key>
		<string>Mamiya Science Center</string>
		<key>title</key>
		<string>Toilets</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>7</integer>
		<key>latitude</key>
		<real>21.30265</real>
		<key>longitude</key>
		<real>-157.83174</real>
		<key>subtitle</key>
		<string>Palm Drive</string>
		<key>title</key>
		<string>Toilets</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>8</integer>
		<key>latitude</key>
		<real>21.303421</real>
		<key>longitude</key>
		<real>-157.83062</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Art Gallery</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>8</integer>
		<key>latitude</key>
		<real>21.303026</real>
		<key>longitude</key>
		<real>-157.830465</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Auction</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>8</integer>
		<key>latitude</key>
		<real>21.302782</real>
		<key>longitude</key>
		<real>-157.82993</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>Variety Show</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>9</integer>
		<key>latitude</key>
		<real>21.30341</real>
		<key>longitude</key>
		<real>-157.83166</real>
		<key>subtitle</key>
		<string>Montague Hall</string>
		<key>title</key>
		<string>Defibrillator</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>9</integer>
		<key>latitude</key>
		<real>21.30292</real>
		<key>longitude</key>
		<real>-157.82979</real>
		<key>subtitle</key>
		<string>Dillingham Hall</string>
		<key>title</key>
		<string>Defibrillator</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>9</integer>
		<key>latitude</key>
		<real>21.303472</real>
		<key>longitude</key>
		<real>-157.830306</real>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>First Aid Center</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>10</integer>
		<key>latitude</key>
		<real>21.30312</real>
		<key>longitude</key>
		<real>-157.83067</real>
		<key>subtitle</key>
		<string>Mamiya Science Center</string>
		<key>title</key>
		<string>ATM</string>
	</dict>
	<dict>
		<key>itemType</key>
		<integer>10</integer>
		<key>latitude</key>
		<real>21.30243</real>
		<key>longitude</key>
		<real>-157.82986</real>
		<key>subtitle</key>
		<string>Sullivan Administration Building</string>
		<key>title</key>
		<string>ATM</string>
	</dict>
</array>
</plist>
